.side-nav-width {
    width: 240px !important;
    border-radius: 0;
    border-right: 1px solid #c4c6d0;
}

.tool-height {
    height: 64px !important;
}

.app-content {
    max-width: 1500px;
    min-height: calc(100vh - 64px);
}
