<main>
  <mat-toolbar class="tool-height fixed top-0 z-10 shadow">
    <button
      mat-icon-button
      (click)="sideNav.toggle()"
      [hidden]="screenWidth > 1199"
      [disabled]="screenWidth > 1199"
    >
      <mat-icon>menu</mat-icon>
    </button>
    <poc-header class="w-full ms-3"></poc-header>
  </mat-toolbar>

  <mat-sidenav-container>
    <mat-sidenav
      #sideNav
      [mode]="screenWidth > 1199 ? 'side' : 'over'"
      class="side-nav-width py-4 px-2"
      [opened]="screenWidth > 1199"
      [fixedInViewport]="true"
      [fixedTopGap]="64"
    >
      <poc-side-menu></poc-side-menu>
    </mat-sidenav>

    <mat-sidenav-content>
      <div class="p-6 !mt-16 app-content">
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</main>
